.App {
  height: 100vh;
  text-align: center;
  background-size: cover;
}

.App-header {
  font-color: grey;
  height: 150px;
  padding: 20px;
  margin: auto;
  width: 50%

}

.App-title {
  color:white;
  font-family: 'Lekton', sans-serif;
  font-size: 3.5em;
  text-shadow: 2px 2px black;
  margin-top: 0.01%;
}

.App-intro {
  color: white;
  text-shadow: 2px 2px black;
  font-size: 5.5em;
  margin-top: 1%;
}

p.sub-paragraph{
  font-size: 1.3em;
  margin-bottom: 05%;
}


@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
