.App {
  height: 100vh;
  text-align: center;
  background-size: cover;
  overflow-x: hidden;
}

.App-header {
  color: grey;
  height: 150px;
  padding: 20px;
  margin: auto;
  width: 50%;
}

.word-arrow {
  height: 40px;
}

.App-title {
  color: white;
  font-family: 'Quicksand';
  font-size: 3.5em;
  text-shadow: 2px 2px black;
  margin-top: 0.01%;
}

.App-intro {
  color: white;
  text-shadow: 2px 2px black;
  font-size: 5.5em;
  margin-top: 1%;
  -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

p.sub-paragraph{
  color: white;
  margin-top: 50px;
  font-size: 1.3em;
  margin-bottom: 10px;
  color: white;
  text-shadow: 0 1px black;
}

.settings{
  position:absolute;
  margin-left: 1.5%;
    bottom:20px;
    left:0;
    height: 50px;
  cursor: pointer;
}

.settings:hover{
  opacity: 0.5;
}

.settings:active{
  opacity: 0.1;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.score-display{
  position:absolute;
  margin-right: 2.5%;
  top: 20px;
  right:0;
  color: white;
  font-family: "Quicksand";
}

.score-number {
  color: orange;
  font-weight: bold;
  text-shadow: 2px 2px black;
}

.answerform {
  margin-top: 100px;
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content:center;
}

.answerform p {
  color: white;
  text-shadow: 0 1px black;
  padding: 15px 15px 15px 15px;
  background-color: rgba(77, 80, 86, 0.7);
  border-radius: 8px;
}
