.App {
  height: 100vh;
  text-align: center;
  background-image: url("https://picturesmania.com/0-0/6056_france-par.jpg");
  background-size: cover;
}



.App-header {
  font-color: grey;
  height: 150px;
  padding: 20px;
  margin: auto;
  width: 50%

}

.App-title {
  color:white;
  font-family: 'Lekton', sans-serif;
  font-size: 3.5em;
  text-shadow: 1px 1px black;
  border-top: 50%;
  border-bottom: 100px;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
